@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    width: 326px;
    height: 374px;
    border-radius: 15px;
    background-color: white;
}

.background-img,
img {
    width: 326px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
}

.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headers img {
    width: 96px;
    height: 96px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    margin: -50px 0px 0px 0px;
}

.headers h1 {
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 700;
    color: #2E3349;
    margin-top: 24px;
}

h1 span {
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 400;
    color: #6B7082;
    margin-left: 8.5px;
}

.headers p {
    font-size: 14px;
    line-height: 17.36px;
    font-weight: 400;
    color: #6B7082;
    margin-top: 13px;
}

.line {
    width: 326px;
    height: 1px;
    background: #E8E9EC;
    margin-top: 28px;
}

.statistic {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

.statistic h2 {
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 700;
    color: #2E3349;
}

.statistic p {
    font-size: 10px;
    line-height: 12.4px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #6B7082;
    margin-top: 9px;
}

@media only screen and (min-width: 375px) {
    .body {
        width: 1440px;
        height: 720px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}