@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap');
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-grayish: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--dark-cyan);
    overflow: hidden;
    height: 100vh;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-top {
    position: absolute;
    top: -50%;
    right: 50%;
    z-index: -1;
}

.bg-top img {
    width: 622px;
    height: 621px;
}

.bg-bottom {
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: -1;
}

.bg-bottom img {
    width: 622px;
    height: 621px;
}

.card {
    width: 326px;
    height: 374px;
    border-radius: 15px;
    background-color: white;
}

.background-img,
img {
    width: 326px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
}

.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headers img {
    width: 96px;
    height: 96px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    margin: -50px 0px 0px 0px;
}

.headers h1 {
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 700;
    color: #2E3349;
    margin-top: 24px;
}

h1 span {
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 400;
    color: #6B7082;
    margin-left: 8.5px;
}

.headers p {
    font-size: 14px;
    line-height: 17.36px;
    font-weight: 400;
    color: #6B7082;
    margin-top: 13px;
}

.line {
    width: 326px;
    height: 1px;
    background: #E8E9EC;
    margin-top: 28px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

.footer-container h2 {
    font-size: 18px;
    line-height: 22.32px;
    font-weight: 700;
    color: #2E3349;
}

.footer-container p {
    font-size: 10px;
    line-height: 12.4px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #6B7082;
    margin-top: 9px;
}

@media only screen and (min-width: 375px) {
    body {
        width: 1440px;
        height: 720px;
        height: 100vh;
        overflow: hidden;
    }
    .bg-top {
        position: absolute;
        top: -80%;
        right: 50%;
        z-index: -1;
    }
    .bg-top img {
        width: 978px;
        height: 976px;
    }
    .bg-bottom {
        position: absolute;
        bottom: -95%;
        left: 50%;
        z-index: -1;
    }
    .bg-bottom img {
        width: 978px;
        height: 976px;
    }
}